.left-sidebar{
  text-align: left;
}

th {
  vertical-align: top;
}

.right-sidebar {
  padding: 0px;
  margin: 0px;
}

.logo {
  text-shadow: 5px 5px 10px gray;
  color: steelblue;
  border-bottom: groove;
  margin-bottom: 20px;
}

.calendar {
  padding: 0px;
  margin: 0px;
}

.main-table {
  border-style: groove;
  border-color: lightblue;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.App {

}

.calendar {
  vertical-align: top;
  text-align: center;
}

.day {
  border-style: groove;
  border-color: lightblue;
  padding: 0px;
  margin: 0px;
  width: 120px;
  height: 400px;
  cursor: pointer;
}

.day-header {
  height: 50px;
}

.true {
  padding: 0px;
  margin: 0px;
  width: 120px;
  background-color:rgba(255,102,102,0.9);
}

.false {
  border-top: groove;
  padding: 0px;
  margin: 0px;
  width: 120px;
}
