.left-sidebar{
  text-align: left;
}

th {
  vertical-align: top;
}

.right-sidebar {
  padding: 0px;
  margin: 0px;
}

.logoDiv {
  margin-bottom: 10px;

}

.loginDiv {

  display: flex;
  align-items: center;
  justify-content: center;

}

.loginInfoDiv {
  margin-top: 50px;
}

.logo {
  text-shadow: 5px 5px 10px gray;
  color: steelblue;
  border-bottom: groove;
  height: 100%;
  width: 100%;

}

.calendar {
  padding: 0px;
  margin: 0px;

}

.main-table {

  padding: 0px;
  margin: 0px;
  /* height: 100%; */
  width: 100vh;
}

.App {

}

.calendar {
  vertical-align: top;
  text-align: center;
}

.day {
  padding: 0px;
  margin: 0px;
  width: 120px;
  height: 400px;
  cursor: pointer;
}

.day-header {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
}

.true {
  padding: 0px;
  margin: 0px;
  width: 120px;
  background-color:rgba(255,102,102,0.9);
  border: 2px groove;
  font-family: 'Montserrat', sans-serif;
  color: black;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.true:hover{
	 box-shadow: 0 6px 28px rgba(0,0,0,0.25);
}

.false {
  border-top: groove;
  padding: 0px;
  margin: 0px;
  width: 120px;
  border: 2px groove;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.false:hover{
	 box-shadow: 0 6px 28px rgba(0,0,0,0.25);
}
